{
  "sounds": {
    "s1": "90_D_KeepOnWaitingPhraseVocal_559.wav",
    "s2": "C#_ALittleFuzzyPad_01_555.wav",
    "s3": "Bb_EtherealAdlibVox_01_634.wav",
    "s4": "DirtyKick_03_634.wav",
    "s5": "ReverbRim_03_634.wav",
    "s6": "C_CitrusLead_02_634.wav",
    "s7": "E_SnippetSynth_02_555.wav",
    "s8": "B_DelayPiano_01_455.wav",
    "s9": "D3_LongverbVocal_173_SP.wav",
    "s10": "D_WeirdLead_01_641.wav",
    "s11": "A_SynthPad_10_555.wav",
    "s12": "105_Am_MyTimeVox_01_639.wav",
    "s13": "A_BambooFluteSynth_01_634.wav",
    "s14": "E_LFCello_SP_01_376.wav",
    "s15": "B_FadeInFX_14_651.wav"
  },
  "rhythm": {
    "beatsPerMinute": 80
  },
  "context": {
  },
  "nodes": {
    "drum-sequencer-1": {
      "nodeType": "sequencer",
      "lengthInBeats": 4,
      "volume": 0.20,
      "loop": true,
      "paused": false,
      "tracks": [
        {
          "sound": "s4",
          "beats": [
            0,
            2,
            2.5
          ]
        },
        {
          "sound": "s5",
          "beats": [
            3
          ]
        }
      ]
    }
  }
}